<div ng-include="'views/templates/modal-delete-medicament.html'"></div>
<div ng-include="'views/templates/navbar-adm.html'"></div>
<div class="container">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="jumbotron">
            <h3>
                Medicamentos
                <a href="#!/adm/medicamentos/novo" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
            </h3>
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="name" placeholder="Pesquisar por nome">
                        <span class="input-group-btn">
                        <button ng-click="getMedicamentList(name)" class="btn btn-default" type="button">Pesquisar</button>
                    </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Nome</th>
                                <th>Nome comercial</th>
                                <th>Apresentação</th>
                                <th>Miligramas</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="medicament in medicamentList">
                                <td>{{medicament.name}}</td>
                                <td>{{medicament.comercialName}}</td>
                                <td>{{medicament.apresentation}}</td>
                                <td>{{medicament.miligrama}}</td>
                                <td>
                                    <a href="#!/adm/medicamentos/{{medicament.id}}/edit" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in"></span></a>
                                    <a ng-click="openModal('modal-delete', medicament.id)" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <footer>
        Todos os direitos reservados <a href="">Prescritor QR Code</a>
    </footer>
</div>