<div ng-include="'views/templates/navbar-prescritor.html'"></div>
<div class="container">
    <div class="jumbotron">
        <h3>
            Editar paciente
        </h3>
        <div class="row">
            <div class="col-lg-12">
                <form id="formPacient" name="formPacient">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4>Informações pessoais</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="name-pacient">Nome</label>
                                <input type="text" class="form-control" id="name-pacient" placeholder="Ex.: João Pedro" ng-required="true" ng-model="pacient.name">
                            </div>
                        </div>                        
                    </div>
                    <div class="row">                       
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="email-pacient">E-mail</label>
                                <input type="email" class="form-control" id="email-pacient" placeholder="Ex.: joao@gmail.com" ng-required="true" ng-model="pacient.email">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="profession-pacient">Profissão</label>
                                <input type="text" class="form-control" id="profession-pacient" placeholder="Ex.: Cirurgião" ng-required="true" ng-model="pacient.profession">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="date-pacient">Data de nascimento</label>
                                <input type="date" class="form-control" id="date-pacient" placeholder="Ex.: 06/11/1985" ng-required="true" ng-model="pacient.date">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="phone-pacient">Telefone</label>
                                <input type="text" class="form-control phone_with_ddd" id="phone-pacient" placeholder="Ex.: 3599860-6677" ng-required="true" ng-model="pacient.phone">
                            </div>
                        </div>
                    </div>                     
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4>Endereço</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="address-pacient">Rua</label>
                                <input type="text" class="form-control" id="address-pacient" placeholder="Ex.: Rua Marechal Deodoro"
                                    ng-model="pacient.address">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="neighborhood-pacient">Bairro</label>
                                <input type="text" class="form-control" id="neighborhood-pacient" placeholder="Ex.: Centro" ng-model="pacient.neighborhood">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="city-pacient">Cidade</label>
                                <input type="text" class="form-control" id="city-pacient" placeholder="Ex.: Santa Rita do Sapucaí"
                                    ng-model="pacient.city">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label for="uf-pacient">UF</label>
                                <input type="text" class="form-control" id="uf-pacient" placeholder="Ex.: MG" ng-maxlength="2" ng-model="pacient.uf">
                            </div>
                        </div>
                    </div>
                    <button ng-click="updatePacient(pacient)" ng-disabled="formPacient.$invalid" type="submit" class="btn btn-success pull-right">Salvar</button>
                    <a href="#/prescritor/pacientes" class="btn btn-primary pull-right" style="margin-right: 2px;">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <footer>
        Todos os direitos reservados <a href="">pacient QR Code</a>
    </footer>
</div>