<div ng-include="'views/templates/navbar-prescritor.html'"></div>
<div class="container">
    <div class="jumbotron">
        <h3>
            Cadastrar prescrição
        </h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form id="formPrescricao" name="formPrescricao">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h4>Informações</h4>
                        </div>
                    </div>
                    <div class="border-prescript-list">
                        <div class="row ">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="prescription-date">Data</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" ng-model="prescription.date" placeholder="Data desta prescrição">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-prescript-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="prescription-paciente">Paciente</label>
                                    <select id="prescription-paciente" class="form-control" ng-model="prescription.pacient" ng-required="true" ng-options="pacient as pacient.name for pacient in pacientList">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div ng-hide="pacientIsNull(prescription.pacient)">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="name-pacient">Nome</label>
                                        <input type="text" ng-readonly="true" class="form-control" id="name-pacient" placeholder="Ex.: João Pedro" ng-required="true"
                                            ng-model="prescription.pacient.name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="email-pacient">E-mail</label>
                                        <input type="email" class="form-control" ng-readonly="true" id="email-pacient" placeholder="Ex.: joao@gmail.com" ng-required="true"
                                            ng-model="prescription.pacient.email">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="profession-pacient">Profissão</label>
                                        <input type="text" class="form-control" ng-readonly="true" id="profession-pacient" placeholder="Ex.: Cirurgião" ng-required="true"
                                            ng-model="prescription.pacient.profession">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="date-pacient">Data de nascimento</label>
                                        <input type="text" ng-readonly="true" class="form-control" id="date-pacient" placeholder="Ex.: 06/11/1985" ng-required="true"
                                            ng-model="prescription.pacient.birthdate">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label for="phone-pacient">Telefone</label>
                                        <input type="text" ng-readonly="true" class="form-control phone_with_ddd" id="phone-pacient" placeholder="Ex.: 3599860-6677"
                                            ng-required="true" ng-model="prescription.pacient.phone">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h4>
                        Medicamentos
                        <a ng-click="addPrescription(prescription)" class="btn btn-primary btn-add-input">
                            <span class="glyphicon glyphicon-plus"></span>
                        </a>
                    </h4>
                    <div ng-repeat="prescript in prescription.prescriptions" class="border-prescript-list">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="prescript-medicament">Medicamento {{prescription.prescriptions.indexOf(prescript) + 1}}</label>
                                    <select id="prescript-medicament" class="form-control" ng-model="prescript.medicament" ng-required="true" ng-options="medicament as medicament.name for medicament in medicamentList">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                                <a ng-click="removePrescription(prescript,prescription.prescriptions)" class="btn btn-danger" style="margin: 24px 0px auto 5px;height: 34px;">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="prescript-useType">Tipo de uso</label>
                                    <select id="prescript-useType" class="form-control" ng-model="prescript.useType" ng-required="true" ng-options="useType as useType.name for useType in useTypeList">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="prescript-comercialName">Nome comercial</label>
                                    <div ng-dropdown-multiselect="" options="prescript.medicament.comercialNames" selected-model="prescript.comercialName"
                                        extra-settings="stringSettings"></div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="prescript-apresentation">Apresentação</label>
                                    <select id="prescript-apresentation" class="form-control" ng-model="prescript.apresentation" ng-required="true" ng-options="apresentation as apresentation for apresentation in prescript.medicament.apresentations">
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="prescript-quantity">Quantidade</label>
                                    <input type="number" class="form-control" id="prescript-quantity" ng-model="prescript.quantity">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="prescript-unity">Unidade</label>
                                    <select id="prescript-unity" class="form-control" ng-model="prescript.unity" ng-required="true" ng-options="unity as unity.name for unity in unityList">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="prescript-description">Posologia</label>
                                    <textarea rows="3" class="form-control" id="description-prescription" placeholder="Descrição da prescrição deste medicamento"
                                        ng-required="true" ng-model="prescript.description"></textarea>
                                </div>
                            </div>
                            <button ng-click="openPosologia(prescript, 'description')" type="button" style="margin: 24px 0px auto 5px;height: 34px;" class="btn btn-primary">Buscar</button>
                            <button ng-click="savePosologia(prescript.description)" type="button" style="margin: 24px 0px auto 5px;height: 34px;" class="btn btn-success">Salvar</button>
                        </div>
                    </div>
                    <button ng-click="savePrescription(prescription)" ng-disabled="formPrescription.$invalid" type="submit" class="btn btn-success pull-right">Salvar</button>
                    <a href="#/prescritor/home" class="btn btn-primary pull-right" style="margin-right: 2px;">Cancelar</a>
                </form>
            </div>
        </div>
    </div>
    <footer>
        Todos os direitos reservados
        <a href="">Prescritor QR Code</a>
    </footer>
</div>
<div id="modal-description" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Selecione uma posologia</h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">                        
                        <select id="posologia" class="form-control" ng-model="posologia" ng-required="true" ng-options="posologia.description as posologia.description for posologia in posologiaList">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                <button ng-click="addPosologia(posologia)" type="button" class="btn btn-success" data-dismiss="modal">Confirmar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>